/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Nov 18, 2018, 12:36:35 PM
    Author     : Korisnik
*/


/*
.centrirajLogin{
    
    background-color: yellow;
    postition: absolute;
    width:300px;
    height:100px;
    margin-top:20%;
    margin-left:40%;
    padding:20px;

}
*/

.centrirajLogin {
    width: 300px;
    height: 100px;
    background-color: blue;

    position:absolute; /*it can be fixed too*/
    left:0; right:0;
    top:0; bottom:0;
    margin:auto;

    /*this to solve "the content will not be cut when the window is smaller than the content": */
    max-width:100%;
    max-height:100%;
    overflow:auto;
    }
.validacija{
    color:red;
    visibility: hidden;
}

input[type=text], input[type=date], input[type=time], input[type=file], input[type=password], select{
  	border-radius:10px;
}